@import "reset";
@import "head";
@import "foot";

.wrap-concent {
	width : 1190px; margin : 0 auto;margin-top : 10px; overflow:hidden;
	.concent-left {
		width : 180px;
		ul {margin-bottom:10px;}		
		ul li {height:40px;line-height:40px;background:#f5f5f5;padding-left:20px;}
		li:first-child {background:#ddd;height:40px;line-height:40px;font-weight:bolder;}
	}
	.concent-right {
		width:1000px;
		.concent-top {
			width:998px;height:100px;
			ul {
				overflow:hidden;
				li {float:left;height:24px;}
				li span {padding:0 20px;}
			}
			div {
				width:976px;padding:0 10px;border:1px solid #ccc;
				p {
					height:32px;line-height:32px;border-bottom:1px solid #ccc;
					a {
						display:inline-block;
						text-decoration:none;
						padding:0 30px;
						color:#5e5e5e;
					}
					a:hover {color:red}
				}
			}
		}
		.concent-bottom {
			ul {overflow:hidden;}
			li {float:left;width:230px;height:332px;padding:8px;margin-bottom:15px;}
			// li:hover {border:1px solid #ccc;width:226px;height:328px;}
			img {width:200px;}
			li {
				.combo{
					border-bottom: 1px solid #ccc;position:relative;
					a {text-decoration:none;display:inline-block;padding:0 20px;height:20px;line-height:20px;color:#5e5e5e;text-align:center;border-right:1px solid #ccc}
					.teshu{color:red;font-weight:bolder;padding-bottom:1px;border-bottom:2px solid red;}
					i {
						position:absolute;display:block;height:8px;width:12px;left:22px;top:21px;
						background:url(../images/searchLabelSprites.png) no-repeat 0 -299px;
					}
				}
				.price {color:red;font-size:14px;font-weight:bold;}
				.type {
					span {color:#fff;background:#5dc3f1;padding:3px;margin-right:5px;}
				}
				.comment {
					height:24px;line-height:24px;
					span {color:#9d9d9d;float:right;}
					em {color:#d00}
				}
				div {
					border:1px solid #e5e5e5;height:28px;border-radius:2px;padding:0 5px;
					.cut , .add {width:22px;height:19px;border:none;color:#5e5e5e;margin-top:4px;cursor:pointer;background:none;}
					.vue {border:none;margin-top:4px;width:26px;border-right:1px solid #ccc;border-left:1px solid #ccc;text-align:center;}
					a {
						display:inline-block;height:28px;border-left:1px solid #ccc;
						line-height:28px;text-decoration:none;margin-left:14px;
						padding-left:25px;color:red;
						background:url(../images/search_cart.png);
						background-position:8px 50%;
					    background-repeat: no-repeat;
					    background-size: 15px 15px;
					}
				}
			}


			.page {width:1000px;text-align:center;padding:7px;margin-top:20px;}
			.page span {margin-right : 3px;padding : 8px;border:1px solid #ccc;}
			.page .active{ color:#fff; background-color: #0083ce;border:1px solid #0083ce}
		}
	}
}


/*  右侧固定菜单栏 */
.rightnav{
	position: fixed;
    right: 28px;
    bottom: 40px;
    z-index: 100;
    width: 52px;
    height:200px;
    .weixi,.car,.feedback,.topback {
    	display:inline-block;width:52px;height:52px;margin:0;padding:0;float:left;
    	background:url(http://localhost:3000/medicine/images/common_sprite.png) no-repeat right 0;
    }
    .weixi {    background-position: 0 -622px;}
    .car {
    	background-position: 0 -675px;position:relative;
    	em {
    		color: #fff;
		    width: 16px;
		    height: 16px;
		    background: red;
		    border-radius: 50%;
		    display: inline-block;
		    text-align: center;
		    line-height: 14px;
		    position: absolute;
		    left: 27px;
		    top: 7px;
    	}  	
    }
    .car:hover {
    	background-position: -52px -674px;
    	text-indent: -999px;
    }
    .car:hover em {display:none;}
    .feedback {    background-position: 0 -777px;}
    .topback{
    	background-position: 0 -827px;
    	span {
    		font-family: "Microsoft YaHei";
		    font-size: 16px;
		    line-height: 20px;
		    font-weight: 400;
		    color:#fff;
		    background-color:red;
			display:inline-block;
			width:42px;height:42px;padding:8px 0 0 10px;
			display:none;
    	}
    }
    .topback:hover span {display:block;}

    .nothing {
    	position:absolute;z-index:99;background:#fff;
    	top:0;
    	left:-224px;
    	width:200px;height:184px;
    	padding:10px;
    	border:1px solid red;
    	display:none;
    	a {color:#0083ce;font-weight:700;}
    }
}