#wrap-foot {
  height: 200px;
  width: 100%; }

#wrap-foot .foot {
  width: 1190px;
  margin: 0 auto; }

#wrap-foot .foot .help {
  margin-left: 35px;
  float: left; }

#wrap-foot .foot .help h3 {
  font-size: 14px;
  color: #C7A774;
  padding: 30px 0 10px 40px; }

#wrap-foot .foot .help ul {
  height: 118px;
  list-style: none; }

#wrap-foot .foot .help ul li {
  width: 128px;
  line-height: 24px; }

#wrap-foot .foot .help ul li a {
  color: #5e5e5e;
  font-size: 12px;
  text-decoration: none;
  padding-left: 40px; }

#wrap-foot .foot .help-right {
  text-align: center;
  padding-top: 50px; }

#wrap-foot .foot .help-right p {
  font-size: 16px;
  font-weight: bold;
  color: #C7A774; }

#wrap-foot .foot .help-right span {
  font-size: 12px;
  color: #5e5e5e; }

#foot-link {
  height: 42px;
  width: 1190px;
  margin: 0 auto;
  margin-top: 30px; }

#foot-link a {
  display: block;
  height: 42px;
  background: url(img/outherLogo.png) no-repeat 105px 1px; }

.footer {
  text-align: center;
  margin-top: 20px; }

.footer p {
  font-size: 12px;
  color: #5e5e5e; }

.footer p a {
  color: #5e5e5e; }

.footer :last-child {
  padding-top: 10px; }

.scrolltop {
  width: 52px;
  height: 210px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: url(img/common_sprite.png) no-repeat 0 -672px; }

.scrolltop li a {
  display: block;
  width: 52px;
  height: 52px;
  position: relative; }

.scrolltop #scroll span {
  width: 52;
  height: 52px;
  position: absolute;
  left: 0;
  top: 153px;
  padding-left: 11px;
  display: block;
  line-height: 26px;
  background: red;
  color: white; }
