@charset "UTF-8";
body { color: #5e5e5e; font: 12px/150% Arial,Verdana,"宋体"; margin: 0; padding: 0; }

body { min-width: 1190px; }

h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, dl, dt, dd, form, label, ol, ul, li, legend, span, input { margin: 0; padding: 0; }

ol, ul { list-style: none; }

img { border: 0; }

.fl { float: left; }

.fr { float: right; }

.clr { clear: both; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; padding: 0px; margin: 0px; }

.clear { clear: both; padding: 0px; font-size: 0px; margin: 0px; height: 0px; line-height: 0; overflow: hidden; display: block; }

.clear1 { clear: both; height: 5px; font-size: 0px; margin: 0px; padding: 0px; line-height: 0; overflow: hidden; display: block; }

.clear2 { clear: both; height: 10px; font-size: 0px; margin: 0px; padding: 0px; line-height: 0; overflow: hidden; display: block; }

.hide { display: none; }

em { font-style: normal; }

.wrap-top .top .top-right li:hover a { color: #0083ce; text-decoration: underline; }

.wrap-topnav .topimg, .wrap-topnav .search, .wrap-headnav .headnav, .banner, .flashsale, .blogroll, .floor { width: 1190px; margin: 0 auto; }

/*top样式*/
.wrap-top { width: 100%; border-bottom: 1px solid #e9e9e9; background: #f1f1f1; height: 36px; }

.wrap-top a { text-decoration: none; color: #5e5e5e; }

.wrap-top .top { width: 1190px; margin: 0 auto; height: 36px; }

.wrap-top .top .top-left { width: 85px; height: 36px; line-height: 36px; padding-left: 5px; position: relative; }

.wrap-top .top .top-left b { position: absolute; right: 6px; top: 15px; width: 8px; height: 4px; background: url(img/common_sprite.png) no-repeat -162px 0px; -webkit-transition: -webkit-transform .2s ease-in 0s; }

.wrap-top .top .top-left .city { padding: 0 5px 0 6px; }

.wrap-top .top .top-left ul { width: 270px; padding-left: 10px; height: 324px; background: #fff; border: 1px solid #ddd; border-top: none; position: absolute; top: 36px; left: -1px; z-index: 10; display: none; }

.wrap-top .top .top-left ul li { line-height: 22px; }

.wrap-top .top .top-left ul li span { color: #5e5e5e; padding-left: 6px; }

.wrap-top .top .top-left ul li strong { color: #a5a5a5; }

.wrap-top .top .top-left ul li .hot { font-weight: bold; }

.wrap-top .top .top-left ul li span:hover { color: #0083ce; text-decoration: underline; }

.wrap-top .top .top-left:hover { background: #fff; }

.wrap-top .top .top-left:hover b { -webkit-transform: rotate(180deg); }

.wrap-top .top .top-left:hover ul { display: block; }

.wrap-top .top .top-right { height: 32px; margin-top: 4px; }

.wrap-top .top .top-right ul { height: 32px; }

.wrap-top .top .top-right ul li { float: left; height: 32px; }

.wrap-top .top .top-right ul li a { display: inline-block; margin-top: 8px; padding: 0 8px 0 8px; border-right: 1px solid #ccc; height: 12px; line-height: 12px; }

.wrap-top .top .top-right .first { padding: 0; }

.wrap-top .top .top-right .first a { border: none; color: #f00; }

.wrap-top .top .top-right .first:hover a { color: red; text-decoration: underline; }

.wrap-top .top .top-right .mydd { border: none; }

.wrap-top .top .top-right .myweb { position: relative; width: 88px; }

.wrap-top .top .top-right .myweb a { position: relative; padding-right: 16px; border-left: 1px solid #ccc; }

.wrap-top .top .top-right .myweb b { position: absolute; right: 5px; top: 5px; width: 8px; height: 4px; background: url(img/common_sprite.png) no-repeat -162px 0px; -webkit-transition: -webkit-transform .2s ease-in 0s; }

.wrap-top .top .top-right .myweb ul { position: relative; width: 88px; height: 80px; z-index: 20; background: #fff; display: none; border-bottom: 1px solid #ccc; }

.wrap-top .top .top-right .myweb ul li { width: 80px; height: 20px; line-height: 20px; font-size: 12px; color: #5e5e5e; padding-left: 8px; }

.wrap-top .top .top-right .myweb:hover b { -webkit-transform: rotate(180deg); }

.wrap-top .top .top-right .myweb:hover { background: #fff; }

.wrap-top .top .top-right .myweb:hover ul { display: block; }

.wrap-top .top .top-right .myweb:hover a { border: none; }

.wrap-top .top .top-right .phoneNum a { color: #c7a774; font-weight: 700; font-family: Tahoma; }

.wrap-top .top .top-right .phoneNum:hover a { text-decoration: none; color: #c7a774; }

.wrap-top .top .top-right .phoneapp a { border: none; position: relative; padding-left: 20px; }

.wrap-top .top .top-right .phoneapp b { position: absolute; width: 12px; height: 14px; left: 5px; top: 0; background: url(img/common_sprite.png) no-repeat -162px -111px; }

.wrap-topnav { width: 100%; overflow: hidden; }

.wrap-topnav .topimg { background: url(img/top01.jpg) no-repeat; height: 60px; }

.wrap-topnav .search { height: 121px; margin-bottom: 10px; }

.wrap-topnav .search .searchleft { width: 300px; height: 121px; }

.wrap-topnav .search .searchleft .logo { display: inline-block; width: 180px; height: 61px; margin-top: 26px; background: url(img/logo.png) no-repeat; }

.wrap-topnav .search .searchcenten { width: 535px; height: 121px; }

.wrap-topnav .search .searchcenten .searchtxt { float: left; margin-top: 34px; width: 435px; background-color: #fff; vertical-align: middle; font-size: 15px; border: 1px solid #c7a774; padding: 0 5px 0 9px; color: #666; height: 44px; line-height: 44px; }

.wrap-topnav .search .searchcenten .searchbtn { margin-top: 34px; background-color: #fff; border: 1px solid #c7a774; height: 46px; width: 82px; margin-left: -1px; }

.wrap-topnav .search .searchcenten .searchbtn a { display: inline-block; width: 21px; height: 20px; background: url(img/search.png); }

.wrap-topnav .search .searchcenten .hotkey { margin-top: 10px; height: 16px; line-height: 16px; }

.wrap-topnav .search .searchcenten .hotkey span { padding-right: 6px; margin-right: 6px; }

.wrap-topnav .search .searchcenten .hotkey span:hover { color: red; text-decoration: underline; }

.wrap-topnav .search .searchright { width: 263px; height: 114px; margin-top: 32px; position: relative; }

.wrap-topnav .search .searchright .backimg { width: 100px; height: 93px; background: url(img/2DCodenew2.jpg) no-repeat; float: left; }

.wrap-topnav .search .searchright .minicat { width: 140px; height: 36px; position: absolute; border: 1px solid #ccc; right: 0; float: left; }

.wrap-topnav .search .searchright .minicat a { display: inline-block; text-decoration: none; width: 140px; height: 36px; vertical-align: middle; color: #5e5e5e; background: url(img/common_sprite.png) no-repeat right 0; background-position: 10px -312px; }

.wrap-topnav .search .searchright .minicat em { color: #fff; width: 16px; height: 16px; background: red; border-radius: 50%; display: inline-block; text-align: center; line-height: 14px; position: absolute; left: 32px; top: 3px; }

.wrap-topnav .search .searchright .minicat span { position: absolute; width: 50px; left: 55px; top: 10px; padding-right: 15px; background: url(img/common_sprite.png) no-repeat right 0; background-position: -110px -322px; }

.wrap-headnav { width: 100%; border-bottom: 2px solid #d2b994; }

.wrap-headnav .headnav { height: 47px; }

.wrap-headnav .headnav .headleft { float: left; width: 166px; height: 47px; position: relative; }

.wrap-headnav .headnav .headleft .selection { width: 166px; padding-left: 14px; height: 49px; line-height: 47px; color: #fff; background: #19323a; font-weight: bolder; font: 400 15px/48px tahoma,arial,Microsoft YaHei; }

.wrap-headnav .headnav .headleft .goodsfl { display: none; width: 180px; height: 400px; position: relative; }

.wrap-headnav .headnav .headleft .goodsfl ul { overflow: hidden; }

.wrap-headnav .headnav .headleft .goodsfl ul li { width: 180px; height: 40px; background: #314349; }

.wrap-headnav .headnav .headleft .goodsfl li a { display: block; width: 180px; height: 40px; line-height: 40px; color: #fff; text-decoration: none; }

.wrap-headnav .headnav .headleft .goodsfl li:hover a { padding-left: 5px; background: #fff; color: black; }

.wrap-headnav .headnav .headleft .goodsfl .latt:hover a { border-bottom: 1px solid #ccc; }

.wrap-headnav .headnav .headleft .goodsfl li a i { width: 24px; height: 24px; display: block; float: left; margin: 0 0 0 15px; font-size: 24px; }

.wrap-headnav .headnav .headleft .goodsfl li a h4 { font-size: 14px; float: left; padding-left: 10px; height: 40px; line-height: 40px; font-weight: 400; font-family: "Microsoft YaHei",tahoma,arial,\5b8b\4f53; }

.wrap-headnav .headnav .headleft .goodsfl li .classify { position: absolute; width: 1009px; height: 399px; top: 0; left: 180px; display: none; }

.wrap-headnav .headnav .headleft .goodsfl li:hover .classify { display: block; z-index: 9; }

.wrap-headnav .headnav .headleft .goodsfl .classify { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; overflow: hidden; background: #fff; }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyone, .wrap-headnav .headnav .headleft .goodsfl .classify .ifytwo, .wrap-headnav .headnav .headleft .goodsfl .classify .ifythree, .wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour { width: 250px; height: 400px; float: left; overflow: hidden; }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyone dl, .wrap-headnav .headnav .headleft .goodsfl .classify .ifytwo dl, .wrap-headnav .headnav .headleft .goodsfl .classify .ifythree dl, .wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour dl { display: block; font: 12px/18px Arial,tahoma,\5b8b\4f53; background: #fff; float: left; margin-bottom: 13px; }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyone dt, .wrap-headnav .headnav .headleft .goodsfl .classify .ifytwo dt, .wrap-headnav .headnav .headleft .goodsfl .classify .ifythree dt, .wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour dt { margin: 6px 0 0 23px; padding: 0; line-height: 20px; height: 20px; font-weight: 700; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyone dd, .wrap-headnav .headnav .headleft .goodsfl .classify .ifytwo dd, .wrap-headnav .headnav .headleft .goodsfl .classify .ifythree dd, .wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour dd { color: #999; line-height: 1.6; width: 220x; margin: 0 0 0 23px; padding: 0 0 6px 0; text-overflow: ellipsis; overflow: hidden; }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyone dd em, .wrap-headnav .headnav .headleft .goodsfl .classify .ifytwo dd em, .wrap-headnav .headnav .headleft .goodsfl .classify .ifythree dd em, .wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour dd em { margin: 8px 6px 0 -8px; padding: 1px 6px 0 7px; display: inline-block; font-style: normal; border-left: #ddd 1px solid; font-weight: 400; line-height: 1; }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour .ss { display: block; width: 250px; height: 200px; background: url(img/wuzi.jpg); }

.wrap-headnav .headnav .headleft .goodsfl .classify .ifyfour .ff { display: block; width: 250px; height: 200px; background: url(img/yyn1.jpg); }

.wrap-headnav .headnav .headright { float: left; }

.wrap-headnav .headnav .headright ul li { float: left; margin-left: 6px; line-height: 46px; font-size: 16px; cursor: pointer; padding: 0 16px; font-family: "Microsoft YaHei"; color: #505050; }

.wrap-headnav .headnav .headright .haiw { position: relative; padding-left: 22px; }

.wrap-headnav .headnav .headright .haiw b { display: inline-block; width: 20px; height: 20px; background: url(img/haitao_ico.gif); position: absolute; top: 13px; left: -2px; }

.wrap-headnav .headnav .headright ul li:hover { color: #0083ce; }

.wrapbrand { width: 100%; height: 180px; background: #f0f0f0; margin-top: 60px; }

.wrapbrand .brand { width: 1190px; margin: 0 auto; height: 180px; background: url(../images/icon_gonggaob.png) no-repeat 0; }

.wrapbrand .brand a { display: inline-block; height: 118px; width: 297px; }

.client { width: 1190px; margin: 0 auto; margin-top: 35px; height: 143px; }

.client div { width: 343px; height: 108px; background: #f0f0f0; padding: 20px 0 20px 40px; float: left; margin-left: 20px; }

.client div dt { width: 110px; height: 110px; background: url(img/ewm-1.jpg) no-repeat; float: left; }

.client div dd { float: left; padding: 8px 0 0 15px; }

.client div h3 { font-size: 16px; font-weight: bold; color: #C7A774; }

.client div:first-child { margin: 0; }

#wrap-foot { height: 200px; width: 100%; }

#wrap-foot .foot { width: 1190px; margin: 0 auto; }

#wrap-foot .foot .help { margin-left: 35px; float: left; }

#wrap-foot .foot .help h3 { font-size: 14px; color: #C7A774; padding: 30px 0 10px 40px; }

#wrap-foot .foot .help ul { height: 118px; list-style: none; }

#wrap-foot .foot .help ul li { width: 128px; line-height: 24px; }

#wrap-foot .foot .help ul li a { color: #5e5e5e; font-size: 12px; text-decoration: none; padding-left: 40px; }

#wrap-foot .foot .help-right { text-align: center; padding-top: 50px; }

#wrap-foot .foot .help-right p { font-size: 16px; font-weight: bold; color: #C7A774; }

#wrap-foot .foot .help-right span { font-size: 12px; color: #5e5e5e; }

#foot-link { height: 42px; width: 1190px; margin: 0 auto; margin-top: 30px; }

#foot-link a { display: block; height: 42px; background: url(img/outherLogo.png) no-repeat 105px 1px; }

.footer { text-align: center; margin-top: 20px; }

.footer p { font-size: 12px; color: #5e5e5e; }

.footer p a { color: #5e5e5e; }

.footer :last-child { padding-top: 10px; }

.scrolltop { width: 52px; height: 210px; position: fixed; right: 0; bottom: 0; background: url(img/common_sprite.png) no-repeat 0 -672px; }

.scrolltop li a { display: block; width: 52px; height: 52px; position: relative; }

.scrolltop #scroll span { width: 52; height: 52px; position: absolute; left: 0; top: 153px; padding-left: 11px; display: block; line-height: 26px; background: red; color: white; }

/*轮播图*/
.banner { height: 400px; }

.banner .bannerleft { float: left; width: 750px; height: 400px; margin-left: 180px; }

.banner .bannerright { float: left; width: 260px; height: 400px; z-index: 999; }

.banner .bannerright h3 { text-align: center; margin-bottom: 5px; line-height: 22px; color: #5e5e5e; cursor: pointer; padding-top: 5px; font-size: 16px; }

.banner .bannerright span { display: inline-block; height: 22px; margin-right: 20px; }

.banner .bannerright .active1 { color: #C7A774; border-bottom: 1px solid #C7A774; }

.banner .bannerright .centent { width: 100%; height: 125px; }

.banner .bannerright .ct2 { height: 120px; }

.banner .bannerright .inquiry { display: none; width: 100%; height: 125px; font-size: 24px; }

.banner .bannerright .counsel { width: 100%; height: 125px; }

.banner .bannerright .counsel p { height: 25px; line-height: 25px; padding-left: 30px; }

.banner .bannerright .counsel p a { color: #707070; text-decoration: none; margin-right: 18px; }

.banner .bannerright .counsel p i { background: url(../images/just_index.png) no-repeat; display: inline-block; background-position: -15px -452px; width: 6px; height: 10px; margin-left: 5px; position: relative; top: 1px; }

.banner .bannerright .counsel img { width: 240px; }

.banner .bannerright img { margin-left: 0 0 10px 4px; }

.banner .bannerright .inquiry a { display: block; color: #5e5e5e; font-size: 12px; text-decoration: none; }

.flashsale { padding-top: 3px; }

.flashsale img { width: 249px; height: 152px; }

.flashsale .firstimg { width: 180px; }

.flashsale .lastimg { width: 100%; height: 90px; margin-top: 20px; }

.blogroll { height: 170px; margin-top: 30px; }

.blogroll .title { width: 1188px; border: 1px solid #e6e6e6; height: 36px; background: #f8f8f8; }

.blogroll .title span { display: inline-block; width: 178px; height: 36px; line-height: 36px; text-align: center; margin: 0; padding-bottom: 1px; }

.blogroll .title span:last-child { border-right: 1px solid #e6e6e6; border-left: 1px solid #e6e6e6; }

.blogroll .active2 { background: #fff; margin-bottom: -2px; font-weight: bolder; cursor: pointer; }

.blogroll .centent { width: 1188px; border: 1px solid #e6e6e6; border-top: none; height: 132px; position: relative; }

.blogroll .centent img { width: 1188px; height: 130px; }

.blogroll .centent .broll { position: absolute; top: 0; left: 0; height: 130px; }

.blogroll .centent .broll { display: none; }

.blogroll .centent .broll ul { height: 130px; padding-top: 20px; margin-left: 30px; }

.blogroll .centent .broll ul li { float: left; width: 124px; height: 26px; text-align: center; }

.blogroll .centent .broll ul li a { font-size: 12px; color: #666; text-decoration: none; }

/*  楼层样式 */
.floor { margin-top: 30px; height: 486px; border-top: 1px solid blue; }

.floor .frleft { width: 180px; border-left: 1px solid #f3f3f3; height: 486px; }

.floor .frleft h4 { width: 180px; height: 88px; line-height: 88px; color: white; font-size: 20px; text-align: center; background: #375fdf; }

.floor .frleft ul { width: 180px; }

.floor .frleft ul li { width: 89px; height: 48px; line-height: 48px; float: left; border-bottom: 1px solid #f3f3f3; border-right: 1px solid #f3f3f3; text-align: center; }

.floor .frright { width: 1008px; height: 486px; position: relative; }

.floor .lunbtu { width: 605px; height: 284px; position: absolute; top: 0; left: 0; }

.floor .lunbtur { position: absolute; left: 605px; top: 0; right: 0; height: 284px; }

.floor .lunbtur img { display: inline-block; width: 196px; margin-right: 2px; }

.floor .lunbtub { position: absolute; top: 284px; left: 0; right: 0; bottom: 0; }

.floor .lunbtub ul { overflow: hidden; }

.floor .lunbtub ul li { float: left; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; padding-bottom: 24px; }

.floor .lunbtub ul img { padding: 30px 0 0 10px; margin: 0 45px; }

.floor .lunbtub ul p { text-align: center; height: 16px; line-height: 16px; }

.floor .lunbtub ul span { color: red; }

#loutiNav { width: 48px; position: fixed; top: 173px; right: 50%; margin-right: 600px; z-index: 99; }

#loutiNav a { display: block; width: 48px; border: 1px solid #E6E6E6; border-bottom: none; text-align: center; height: 40px; color: #157CDB; padding: 5px 0; text-decoration: none; font-family: "Microsoft YaHei"; }

#loutiNav li { width: 48px; height: 30px; font-size: 14px; padding: 5px 0; text-align: center; border: 1px solid #E6E6E6; border-bottom: none; cursor: pointer; position: relative; }

#loutiNav li span { display: none; position: absolute; left: 0; text-align: center; top: 0; width: 48px; height: 40px; background: #157CDB; color: white; font-size: 12px; }

#loutiNav li .active { display: block; background: #157CDB; color: white; }

#loutiNav li:hover span { display: block; }
