@charset "UTF-8";
body { color: #5e5e5e; font: 12px/150% Arial,Verdana,"宋体"; margin: 0; padding: 0; }

body { min-width: 1190px; }

h1, h2, h3, h4, h5, h6, p, a, em, font, img, strong, b, dl, dt, dd, form, label, ol, ul, li, legend, span, input { margin: 0; padding: 0; }

ol, ul { list-style: none; }

img { border: 0; }

.fl { float: left; }

.fr { float: right; }

.clr { clear: both; display: block; font-size: 0; height: 0; line-height: 0; overflow: hidden; padding: 0px; margin: 0px; }

.clear { clear: both; padding: 0px; font-size: 0px; margin: 0px; height: 0px; line-height: 0; overflow: hidden; display: block; }

.clear1 { clear: both; height: 5px; font-size: 0px; margin: 0px; padding: 0px; line-height: 0; overflow: hidden; display: block; }

.clear2 { clear: both; height: 10px; font-size: 0px; margin: 0px; padding: 0px; line-height: 0; overflow: hidden; display: block; }

.hide { display: none; }

em { font-style: normal; }

a { text-decoration: none; }

.header { width: 996px; height: 100px; margin: auto; }

.header .logo { margin-left: 20px; padding-top: 20px; }

.footer { text-align: center; margin-top: 20px; }

.footer p { font-size: 12px; color: #5e5e5e; }

.login { width: 996px; height: 365px; margin: 0 auto; border-top: 2px solid #0083ce; box-shadow: 0 4px 18px 4px #ccc; }

.login .fl { width: 560px; height: 365px; }

.login .fr { width: 400px; }

.login .fr a { text-decoration: none; color: #0083ce; }

.login .fr h4 { float: left; font-size: 20px; height: 50px; line-height: 50px; }

.login .fr .top p { float: right; height: 50px; line-height: 50px; padding-right: 20px; }

.login .fr input { width: 300px; padding-left: 30px; height: 36px; font-size: 14px; color: #ccc; border: 1px solid #e6e6e6; }

.login .fr #phone { background: url(../images/regest.png) no-repeat 5px -115px; margin-top: 20px; }

.login .fr #password { background: url(../images/regest.png) no-repeat 5px -146px; margin-top: 40px; }

.login .fr #chcek { padding: 0; width: 14px; height: 14px; margin-top: 30px; }

.login .fr p { height: 24px; line-height: 24px; }

.login .fr #btn { width: 340px; height: 38px; display: block; background: #0083ce; border: 0; color: white; margin-top: 15px; }

.login .fr #btn:hover { background: #0099F1; }
